
/*================
    GLOBAL STYLES
===================*/
*{
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
    background-color: rgb(19, 18, 18);
    color: rgb(173, 173, 173);
    border: 20px;
    border-color: rgb(207, 196, 196);
    padding: 10px;
    margin: 10px;
}
h1{
    color: aqua;
    display: flex;
    text-align: center;
    justify-content: center;

}
p{
    text-align: center;
}
/*================
    SKILLS STYLE
==================*/
.container{
    background-color:none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
}

h3{
    margin-top: 30px;
    margin-bottom: 20px;
    color: #e0cece;
}
h4{
    color: rgb(240, 82, 10);
    padding-top: 5px;
   
}

.grid-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;

}
.card{
    background: none;
    color: rgb(221, 209, 209);
}

/* Mobile view adjustments */

@media(max-width:768px)
{
    .grid-container{
        grid-template-columns: 1fr;
    }
    
}
    @media(max-width:768px){

        .container{
             flex-direction: column;           
        }
    }
  /*=============
    CONTACT FORM
   =================*/   

form{
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
} 
input,textarea{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
}

.contact{
    padding: 40px;
    background: #aca9a9;
}

/*==========
    BUTTON
===============*/
button{
    background-color: #2008f3;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 10px;
    border-style: groove;
    font-size: 20px;
} 
/*==============
    HOVER EFFECT 
   ================*/
 .contact-form button{

    transition: background 0.3s ease;
}
 
.contact-form button:hover{
    background: #033f77;
}

.card{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover{
    transform: translate(-5px);
    box-shadow: 0 10px 20px rgba(0, 0,0, 0.15);
}

.navbar a:hover{
    text-decoration: underline;
}
/*===============
     NAVBAR
  =============*/          
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #2c3e50;
    color: white;
    position: sticky;
    top: 0;
    
}

.navbar a{
    color: white;
    margin-left: 20px;
    text-decoration: none;
    
}