/*================
    CSS VARIABLES
  ==================*/
  :root{
    --primary-color:#2c3e50;
    --secondary-color:none;
    --text-color:rgb(247, 241, 241);
  }  
/*================
    GLOBAL STYLES
===================*/
*{
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
    background-color: #0a0a0a;
    color: var(--text-color);
    border: 20px;
    border-color: #9df9ef;
    padding: 10px;
    margin: 10px;
}
h1 {
    color: aqua;
    display: flex;
    text-align: center;
    justify-content: center;

}

h3{
    margin-top: 30px;
    margin-bottom: 20px;
    color: #b98a11;
}
h4{
    color: rgb(4, 108, 134);
    padding-top: 5px;
   
}
h5{
    text-align: center;
    color:rgb(4, 155, 24)
}
/*================
    SKILLS STYLE
==================*/
.skills-container{
    background-color:none;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}

/*===========
    PROJECTS
 =============*/    

.project-grid-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;

}
#projectsGrid{
    background: none;
    color: rgb(243, 235, 235);
    transition : transform 0.3s ease, box-shadow 0.3s ease;
}

/* Mobile view adjustments */

@media(max-width:768px)
{
    .project-grid-container{
        grid-template-columns: 1fr;
    }
    
}
    @media(max-width:768px){

        .skills-container{
                grid-template-columns: 1fr;        
        }
    }
  /*=============
    CONTACT FORM
   =================*/   

.contact-form{
     padding: 40px;
    background: var(--secondary-color);
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
} 
input,textarea{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
}

.form-message{
    margin-top: 10px;
    color: green;
    font-weight: bold;
}

/*==========
    BUTTON
===============*/

button{
    background-color: green;
    color: white;
    border: none;
    display:flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 15px;
    height:50px;
    width:200px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    transition: background 0.3s ease;
    
} 

#savedEntries div button{
    cursor:pointer;
    display:flex;
    justify-content: space-between;
    margin: 8px;
}

#clearAllBtn{
    font-size: 15px;
    background-color:blue;

}

/*==============
    HOVER EFFECT 
   ================*/
 
.contact-form button:hover{
    background-color: #17461d;
}

#clearAllBtn:hover{
    background-color: #043563;
}

#projectsGrid :hover{
    background-color: #111111;
    transform: translate(-5px);
    box-shadow: 0 10px 20px rgba(46, 45, 45, 0.15);
}

.skills-container :hover{
    transform: translate(-5px);
    box-shadow: 0 10px 20px rgba(46, 45,45, 0.15);
    background-color: #111111;
}

.contact-form:hover{
    transform: translate(-5px);
    box-shadow: 0 10px 20px rgba(0, 0,0, 0.15);
    background-color: rgb(26, 25, 25);
}

.navbar a:hover{
    text-decoration: underline;
}
/*===============
     NAVBAR
  =============*/          
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: var(--primary-color);
    color: white;
    position: sticky;
    top: 0;
    
}

.navbar a{
    color: white;
    margin-left: 20px;
    text-decoration: none;
    
}